@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --background: #1f1f1f;
  --black: #121212;
  --white: #ffffff;
  --green: #0eb163;
  --menubarText: #6d6d6d;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

*,
*::after,
*::before {
  transition: 0.3s;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  background-color: var(--background);
  overflow-x: hidden;
}

section {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
  background-color: var(--black);
  height: 100%;
}

section h2 {
  color: var(--white);
}

section h2 i {
  margin-right: 10px;
}

li {
  list-style: none;
}

section .menu {
  display: flex;
  color: var(--menubarText);
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  width: 100%;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  position: relative;
}

section .menu ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  position: relative;
  font-weight: 600;
  width: 100%;
  color: var(--menubarText);
  cursor: pointer;
  padding: 3px;
}

section .menu ul li.active {
  color: var(--white);
  background-color: var(--background);
}

section .menu ul li.active i {
  color: var(--green);
}

section .menu ul li::before {
  content: "";
  width: 8px;
  margin-right: 10px;
  height: 0%;
  background-color: #0eb163;
  left: 0;
}

section .menu ul li.active::before {
  content: "";
  width: 8px;
  margin-right: 10px;
  height: 100%;
  background-color: #0eb163;
  left: 0;
}

section .menu ul li:hover {
  background-color: var(--background);
  color: var(--white);
}

section .menu ul li:hover::before {
  height: 100%;
}

section .menu ul li:hover i {
  color: var(--green);
}

.categories {
  display: flex;
  color: var(--menubarText);
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  position: relative;
  flex-direction: column;
}

.categories ul {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.categories ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories ul li::after {
  content: "";
  width: 10px;
  background-color: var(--green);
  height: 10px;
  border-radius: 50%;
}

.header {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 60px;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid var(--white);
}

.header .hamburger {
  flex-direction: column;
  gap: 5px;
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.header .hamburger .line {
  height: 4px;
  width: 25px;
  background-color: var(--white);
}

.header .search input {
  background: none;
  border: none;
  outline: none;
  color: var(--black);
  font-weight: 500;
  width: 120px;
}

.header .search input::placeholder {
  color: var(--black);
  font-weight: 500;
}

.header .search {
  font-weight: 600;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--white);
  padding: 4px 20px;
  border-radius: 20px;
  overflow: hidden;
}

.header .search button {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 6px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header .hamburger {
    display: flex;
  }
  section {
    position: absolute;
    left: -100%;
    z-index: 1000;
  }
  .container {
    width: 100vw;
  }
  section.active {
    position: relative;
    left: 0;
  }
  .hamburger.active {
    gap: 0;
    position: relative;
  }

  .hamburger.active :nth-child(2) {
    display: none;
  }
  .hamburger.active :nth-child(1) {
    transform: rotate(-45deg);
    position: absolute;
    margin-left: 30px;
  }
  .hamburger.active :nth-child(3) {
    transform: rotate(225deg);
    position: absolute;
    margin-left: 30px;
  }
}
